.header{
    width: 100%;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: aqua; */
    animation: header 4s linear infinite;
}
.header >h1{
    font-size: 2rem;
    color: rgb(249, 47, 81);
}
.header >p{
    font-size: 0.9rem;
    color: #4a4a4a;
}
.header >ul{
    height: 2.5rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    color: white;
    font-weight: bold;
}
.header ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.header ul li:first-child{
    height: 100%;
    background-color: rgb(249, 47, 81);
}

@media screen and (max-width:533px) {
    .header ul li{
        font-size: 0.7rem;
    }
}
.logo{
    animation: logo 4s linear infinite;
}

@keyframes logo {
    0%{
        color: rgb(249, 47, 81);
    }
    50%{
        color: rgb(67, 254, 114);
    }
    100%{
        color: rgb(47, 71, 249);
    }
}
@keyframes header {
    0%{
        background-color: rgb(239, 249, 47);
    }
    30%{
        background-color: rgb(254, 67, 67);
    }
    60%{
        background-color: rgb(47, 71, 249);
    }
}